* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center;
    border-bottom: 1px solid black;
}

.img {
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}

.content {
    display: block;
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    font-size: 18px;
}

.return {
    margin-top: 5%;
}